{% extends "base.html.twig" %}

{% block title %}Nouveau contact{% endblock %}

{% block description %}Ajouter un nouveau contact à la liste{% endblock %}

{% block keywords %}nouveau, contact{% endblock %}

{% block main %}
    <h1 class="text-center display-5 my-3">Nouveau contact</h1>

    
{% endblock %}
