<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>

        {# Seo #}
        <meta name="robots" content="index, follow">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="author" content="dwwm">
        <meta name="publisher" content="dwwm">

        {# Bootstrap 5 StyleSheet #}

        {# JQuery #}

        {# dataTables #}
        
        {# Google Font #}

        {# Font Awesome #}

        {# Custom Css #}
    </head>
    <body>
        
    </body>
</html>